body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
  background-color:#0D313A;
  box-sizing: border-box;
  
}
html {
  box-sizing: border-box;
}

body p{
  margin: 0;
  padding: 2.2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1.2rem;
  color: white;
}
h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 3.5rem;
    font-family:monospace
}

canvas {
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #377771;

}

footer p{
 margin:0;
  font-size: 0.85rem;
  padding: 1rem;
  padding-bottom: 2rem;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*Media Responsive design */
@media (max-width: 767px) {
  main {
    min-height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #app {
    max-width: 80%;
  }
}

@media (min-width: 1024px) {
  #app {
    max-width: 60%;
  }
}