.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}
.button{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #247927;
  transition: 0.5s;
}

.control {
	text-align: center;
}

canvas {
  background: #000;
}

footer {
  background-image: url(aca-pic);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
footer p{
 margin:0;
  padding: 1.5rem;
}


/*Media Responsive design */
@media (max-width: 767px) {
  main {
    min-height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #app {
    max-width: 80%;
  }
}

@media (min-width: 1024px) {
  #app {
    max-width: 60%;
  }
}