body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: left;
  margin: 0;
  padding: 0;
  background-color:#0D313A;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1800' height='1200' preserveAspectRatio='none' viewBox='0 0 1800 1200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1125%26quot%3b)' fill='none'%3e%3cpath d='M421.6964557469314 429.25316553163935L543.7856268298827 747.306330037366 861.8387913356095 625.2171589544147 739.7496202526581 307.16399444868796z' fill='rgba(55%2c 119%2c 113%2c 0.33)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-12.56 321.41 a204.57 204.57 0 1 0 409.14 0 a204.57 204.57 0 1 0 -409.14 0z' fill='rgba(55%2c 119%2c 113%2c 0.33)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1713.419%2c579.464C1772.211%2c576.648%2c1811.68%2c526.698%2c1841.67%2c476.052C1872.465%2c424.047%2c1898.282%2c364.759%2c1873.085%2c309.823C1843.917%2c246.229%2c1783.358%2c194.568%2c1713.419%2c196.435C1645.697%2c198.243%2c1598.972%2c257.789%2c1567.865%2c317.971C1539.718%2c372.426%2c1532.153%2c435.886%2c1561.966%2c489.447C1592.58%2c544.446%2c1650.546%2c582.475%2c1713.419%2c579.464' fill='rgba(55%2c 119%2c 113%2c 0.33)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1199.2396485586164 1003.7163875419814L1342.074667661895 1180.1029464862497 1518.4612266061636 1037.267927382971 1375.6262075028849 860.8813684387027z' fill='rgba(55%2c 119%2c 113%2c 0.33)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M811.5740499292789 1020.9015950666687L998.8256066127949 1060.703142122676 1038.6271536688023 873.45158543916 851.3755969852862 833.6500383831526z' fill='rgba(55%2c 119%2c 113%2c 0.33)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M285.896252647393 1086.0624573037144L407.8888070286627 935.4141987798369 257.2405485047851 813.4216443985671 135.24799412351544 964.0699029224447z' fill='rgba(55%2c 119%2c 113%2c 0.33)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1346.0607435128925 451.99701319362566L1639.6345995216861 601.5803641363188 1789.2179504643793 308.0065081275253 1495.6440944555857 158.42315718483206z' fill='rgba(55%2c 119%2c 113%2c 0.33)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-17.42777524828665 248.11888664231935L169.55340289274486 176.34353712542702 97.77805337585252-10.637641015604459-89.20312476517898 61.13770850128785z' fill='rgba(55%2c 119%2c 113%2c 0.33)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M805.712%2c1240.854C873.999%2c1246.116%2c943.235%2c1212.538%2c975.7%2c1152.232C1006.853%2c1094.364%2c988.417%2c1024.301%2c951.597%2c969.863C919.299%2c922.111%2c863.324%2c902.978%2c805.712%2c900.906C743.206%2c898.658%2c671.399%2c904.324%2c640.449%2c958.675C609.676%2c1012.714%2c644.329%2c1075.459%2c675.757%2c1129.12C706.701%2c1181.955%2c744.663%2c1236.15%2c805.712%2c1240.854' fill='rgba(55%2c 119%2c 113%2c 0.33)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1125'%3e%3crect width='1800' height='1200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
html {
  box-sizing: border-box;
}

body p{
  margin: 0;
  padding: 2.2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1.2rem;
  color: white;
}
h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 3.5rem;
    font-family:monospace
}

canvas {
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

/*mute button*/
#muteButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #377771;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

footer p{
 margin:0;
  font-size: 0.85rem;
  padding: 1rem;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*Media Responsive design */
@media (max-width: 767px) {
  main {
    min-height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #app {
    max-width: 80%;
  }
}

@media (min-width: 1024px) {
  #app {
    max-width: 60%;
    font-size: 1.2rem;
  }
}
